In [1]:
a=10#this is variable assignment

In [2]:
a='c'#now we are overwriting the value of variable

In [3]:
print(type(a))#this will print the type of a we have

<class 'str'>

In [4]:
print(int('123'))#this is converting string inside type to int

123

In [5]:
#but we can't do int('words') as we have the words not of integer even after converting

In [6]:
print("abcd")#printing the alphabets
print(123)#printing the digits

abcd
123

In [7]:
print("hello",123)#this will take space and give answer

hello 123

In [8]:
#f strings used to put different datatypes in string
print(f"my age is {32}")#this way we can use

my age is 32

In [9]:
#format of string
print("{} and {} are my lucky numbers".format(18,7))

18 and 7 are my lucky numbers

In [11]:
print("{a} and {b} are placeholders".format(b="vishal",a="praneeth"))#it takes vishal in b and praneeth in a

praneeth and vishal are placeholders

In [12]:
'''if
if else
if elif else
Nested if
'''#these are the various decision making statements which are conditionals"

'if\nif else\nif elif else\nNested if\n'

In [13]:
if True:
    print("if the statement is true then this get's executed")

if the statement is true then this get's executed

In [14]:
12>2#this is comparision and is true

True

In [15]:
name=input("Enter the name")#this is to take input from user
print(name)#this to display that taken input from user

Enter the name vishal

vishal

In [17]:
age=int(input("enter the age"))#this is entering the input of age of int type
print(age)

enter the age 19

19

In [19]:
print(True and False) #is still false
print(True or False)#is true because of or

False
True

In [20]:
#enter the age to check voting is possible or not
#if greater than 18 possible or else no
age=int(input("enter the age:"))
if(age>=18):
    print("it is possible to vote")
else:
    print("you are not eligible")
#else is an empty block which directly executes when the if fails to execute

enter the age: 12

you are not eligible

In [21]:
int((20/100)*5000)#this is first priority to paranthesis which is 20/100 which is 0.2 now 
#0.2 * 5000 is 1000

1000

In [22]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount
#problem statement 1

In [23]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price 1001

The price of the product is 800.8000000000001

In [24]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount
#this is problem statement 2

In [25]:
product_price=int(input("Enter the price"))
if product_price>3000:
    if product_price==4000:
        print("Congratulations you get a Goa Trip")
    print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
    if product_price==2999:
        print("Congratulations you get an additional gift")
    print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
    print(f"The price of the product is {product_price*0.6}")
else:
    print("Lets drink tea")
    print("I will also be there")

Enter the price 1021

The price of the product is 612.6

In [26]:
#>,>=,== all these are comparision operators
print(5==5)#this is true
print(5!=5)#this is false

True
False

In [27]:
## Single statement Suites
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")#this is single statement suits

Enter the number 123

Value is less than equal to 999

In [28]:
#looping statements are 
#for
#while
#nested for
#loop breaking statements

In [29]:
# while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
    
else:
    print("Its time for retirement")
#once while loop even for one time it stops executing once it becomes false then exit

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [30]:
#while else is always when once while loop is stopped then it goes to else
#but same if we stop while loop because of break then there is no else execution

In [31]:
#list is container which stores values of different datatypes
l=[1,"v",True,-1]
print(l)

[1, 'v', True, -1]

In [32]:
print(l[0])#this gives the first element

1

In [33]:
print(l[3])#this gives the last element

-1

In [34]:
for i in l:
    print(i)#this is execution of each element in list

1
v
True
-1

In [35]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")
        #if this is when cherry then print this statement also
        #but if cherry then print this statement also

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [36]:
fruit='mango'
for x in fruit:
    print(x)#this prints each letter in string

m
a
n
g
o

In [37]:
fruit[2]#this gives the third element

'n'

In [38]:
for i in range(1,10):
    print(i)#this gives element from start to end-1
    #here start is 1
    #end is 10
    #1 to 9

1
2
3
4
5
6
7
8
9

In [39]:
for i in range(0,7,2):
    print(i)#this is start,end,step
    #here step value is 2
    #so it moves from 0 2 4 6

0
2
4
6

In [43]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")#end is making general default \n to space occupy
    print("\r")#this gives same as print() which is new line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [44]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [46]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)#if fruit is apple directly break out of loop immediately

Mango
Cherry
The fruit is apple

In [47]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)#pass is just like making it to move forward basically we use this to acoid loop to be empty

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [48]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)#continue is skipping the further down iteration and going to next one

Mango
Cherry
The fruit is apple
Papaya
Banana